<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpB8uHWiff1aG4l_pWss_5QSb49i8mIpE</string>
	<key>GCM_SENDER_ID</key>
	<string>1014896489487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naylinhte.family-map</string>
	<key>PROJECT_ID</key>
	<string>family-map-1222c</string>
	<key>STORAGE_BUCKET</key>
	<string>family-map-1222c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014896489487:ios:a5784032768c92bdf25f7a</string>
	<key>DATABASE_URL</key>
	<string>https://family-map-1222c-default-rtdb.firebaseio.com</string>
</dict>
</plist>